.container {
  background-color: #12202d;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

.displaySection {
  background-color: #293745;
  justify-content: top;
  padding: 2rem;
  border-radius: 15px;
  width: 800px;
  flex-grow: 1; /* Take up remaining space */
}

.displaySection h1 {
  display: flex;
  justify-content: center;
  color: #f5f5f5;
  margin-bottom: 1rem;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  padding-inline-start: 7rem;
}

.product {
  margin: 1rem;
  padding: 1rem;
  background-color: #1e2b37;
  border-radius: 15px;
  width: 300px;
  height: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product p.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}

/* Add additional styling as needed */
