.container {
  background-color: #12202d;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

.displaySection {
  background-color: #293745;
  justify-content: top;
  padding: 2rem;
  border-radius: 15px;
  width: 800px;
  flex-grow: 1; /* Take up remaining space */
}

/* Add additional styling as needed */
