# Copy and create new .env file
# Public API URL: https://belindascloset.com/api
# Local API URL: http://localhost:3001/api  // localhost Port and Server's port need to match
API_URL=http://localhost:3001/api