#Dummy .env file, rename file to .env.local to use environment variables
# Public API URL: https://belindascloset.com/api
# Local API URL: http://localhost:3001/api  // localhost Port and Server's port neet to match
API_URL=http://localhost:3001/api