/* Forgot password CSS */
.container {
  background-color: #12202d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  background-color: #293745;
  padding: 2rem;
  border-radius: 15px;
  width: 400px;
  max-width: 100%;
  margin-bottom: 20vh;
}

.logoContainer {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.inputLabel {
  display: block;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.inputField {
  width: 100%;
  padding: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-size: 1.15rem;
  outline: none;
  color: #171414;
}


.submitButton {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: #f0f0f0;
  background-color: #101c29;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: #0c141c;
}

.link {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
