/* Using styles from sign-in page CSS Module */
.container {
    background-color: #bec3c8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    color: #101c29;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }