/* Home page CSS */
.container {
  background-color: #12202d;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.formContainer {
  background-color: #293745;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
  width: 800px;
  margin-bottom: 30vh;
}

.logoContainer {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.inputLabel {
  display: block;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.inputField {
  width: 100%;
  padding: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-size: 1.15rem;
  outline: none;
  color: #171414;
}

.loginButton {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.15rem;
  border-radius: 4px;
  outline: 1px solid #f0f0f0;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  margin-left: 40px;
  border: none;
  color: #f0f0f0;
  background-color: #101c29;
  font-weight: bold;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease-in-out;
  /* space between 2 buttons */
  margin-right: 15px;
}

.loginButton:hover {
  background-color: #f0f0f0;
  color: #0c141c;
}

.signUpButton {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.15rem;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  margin-left: 40px;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  font-weight: bold;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease-in-out;
}

.signUpButton:hover {
  background-color: #f0f0f0;
  color: #0c141c;
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  color: #f0f0f0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 1rem;
}

.downloadButton:hover {
  background-color: #0c141c;
}

.categoryContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
  padding-inline-start: 2.5rem;
}