/* Product page CSS */
.container {
  background-color: #12202d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formContainer {
  background-color: #293745;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
  width: 800px;
  margin: 0 1rem;
}

.title {
  text-align: center;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.inputLabel {
  display: block;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1.0rem;
  padding: 0.5rem 0;
}

.inputField {
  /* width: 100%; */
  padding: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-size: 1.15rem;
  outline: none;
  color: #171414;
}

.submitButton {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.15rem;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  margin-left: 40px;
  border: none;
  color: #f0f0f0;
  background-color: #101c29;
  font-weight: bold;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease-in-out;
  /* space between 2 buttons */
  margin-right: 15px;
}

.submitButton:hover {
  background-color: #335370;
}
