name: CI-CD Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:


  CI:
    uses: ./.github/workflows/ci.yml
    if: github.event.pull_request.merged == true || github.event_name == 'push'

  CD:
    uses: ./.github/workflows/cd.yml
    if: github.event.pull_request.merged == true || github.event_name == 'push'



