/* Sign Up page CSS */
.container {
  background-color: #12202d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  background-color: #293745;
  padding: 2rem;
  border-radius: 15px;
  width: 400px;
  max-width: 100%;
  margin-bottom: 20vh;
}

/* change text color in the input field */
.formContainer input[type="name"],
.formContainer input[type="email"],
.formContainer input[type="password"] {
  color: #0c141c;
}

.title {
  text-align: center;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.inputLabel {
  display: block;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.submitButton {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: #f0f0f0;
  background-color: #101c29;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: #0c141c;
}
